.viewer {
	min-width: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	.top-row, .bottom-row {
		display: flex;
		justify-content: center;
		flex-grow: 1;
		min-height: 0;

		video {
			min-width: 0;
			height: 100%;
		}
	}

	.top-row {
		align-items: flex-end;
		
		video {
			object-position: bottom;
		}
	}

	.bottom-row {
		align-items: flex-start;

		video {
			object-position: top;
		}
	}

	.controls {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
		
		.play-pause {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		
		.seeker-slider-container {
			position: relative;
			display: flex;
			width: 80%;
			
			.event-marker {
				$size: 20px;
				width: $size;
				height: $size;
				border-radius: calc($size / 2);
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				background-color: adjust-color(#f64e62ff, $alpha: -0.5);
				pointer-events: none;
			}
		}
	}
}