@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@*<MudLayout>
	<MudAppBar>
		Tesla Cam Player
		<div class="d-none d-sm-block">
			<MudButton Link="/Events" Color="Color.Inherit" Variant="Variant.Text" Class="ml-2">Events</MudButton>
		</div>
	</MudAppBar>
	<MudMainContent>
		@Body
	</MudMainContent>
</MudLayout>*@

@Body