@import "components/*.scss";
$border-color: #EEE;
$border-color-darken: darken($border-color, 20%);

html, body {
	height: 100vh;
	min-height: 500px;
}

#app {
	height: 100%;
}

.loading-screen {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	font-weight: bold;
}

.main-content {
	display: flex;
	height: 100%;
	
	.viewer-container {
		flex-grow: 1;
		min-width: 0;
		height: 100%;
		overflow: hidden;
	}
	
	.browser {
		display: flex;
		flex-flow: column;
		flex-shrink: 0;
	}
}

.events-list {
	overflow-y: auto;
}

$event-item-height: 60px;
$event-item-padding: 5px;
$event-item-inner-height: $event-item-height - $event-item-padding * 2;
.event {
	display: flex;
	height: $event-item-height;
	padding: $event-item-padding;
	transition: background-color 0.2s ease;
	cursor: pointer;
	align-items: center;

	&:hover {
		background-color: var(--mud-palette-background-grey) !important;
	}

	&--active {
		background-color: var(--mud-palette-background-grey) !important;
	}

	.thumbnail {
		// Pictures are 4:3
		width: #{calc(round(calc($event-item-inner-height / 3 * 4 * 100)) / 100)}px;
		height: 100%;
		transform: none;
	}
	
	.details {
		flex-grow: 1;
	}
}

.browser-date-picker {
	flex-shrink: 0;
	
	.mud-picker-datepicker-toolbar {
		display: none;	
	}
}

.event-filter-arrow {
	position: absolute;
	width: 10px;
	height: 20px;
	left: 100%;
	top: 50%;
	transform: translateY(-50%);
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 5px solid var(--mud-palette-surface);
}