@import "components/*.scss";
$border-color: #EEE;
$border-color-darken: darken($border-color, 20%);

html, body {
	height: 100vh;
	min-height: 500px;
}

#app {
	height: 100%;
}

.main-content {
	display: flex;
	height: 100%;
	
	.viewer {
		flex-grow: 1;
	}
	
	.browser {
		display: flex;
		flex-flow: column;
	}
}

.events-list {
	overflow-y: auto;
}

$event-item-height: 60px;
$event-item-padding: 5px;
$event-item-inner-height: $event-item-height - $event-item-padding * 2;
.event {
	display: flex;
	height: $event-item-height;
	padding: $event-item-padding;
	transition: background-color 0.2s ease;
	cursor: pointer;
	align-items: center;

	@keyframes highlight-animation {
		0% {
			background-color: transparent;
		}
		50% {
			background-color: var(--mud-palette-background-grey);
		}
		100% {
			background-color: transparent;
		}
	}
	
	&--highlight {
		animation: highlight-animation 1s ease forwards;
		
	}

	&:hover {
		background-color: var(--mud-palette-background-grey) !important;
	}

	.thumbnail {
		// Pictures are 4:3
		width: #{calc(round(calc($event-item-inner-height / 3 * 4 * 100)) / 100)}px;
		height: 100%;
		transform: none;
	}
	
	.details {
		flex-grow: 1;
	}
}

.browser-date-picker {
	flex-shrink: 0;
	
	.mud-picker-datepicker-toolbar {
		display: none;	
	}
}