@import "components/*.scss";

html, body {
	height: 100vh;
	overflow: hidden;
}

#app {
	height: 100%;
}

:root {
	--timeline-step-height: 100px;
}

$border-color: #EEE;
$border-color-darken: darken($border-color, 20%);

.main-container {
	height: 100vh;
	display: flex;
	
	.viewer {
		flex-grow: 1;
	}
	
	.events-scrubber {
		width: 350px;
		border-left: 1px solid $border-color;
		display: flex;
		flex-flow: column;
	}
}

.events-scrubber-toolbar {
	padding: 10px;
	border-bottom: 1px solid $border-color;
	
	.date-picker {
		font-size: 0.8rem;
	}
	
	.zoom-slider {
		width: 100px;
	}
}

.timeline {
	flex-grow: 1;
	position: relative;
	overflow-y: auto;
	
	.hour-ticks {
		position: absolute;
		height: var(--timeline-step-height);
		left: 0;
		right: 0;
		//border-top: 1px solid #F00;
		box-sizing: border-box;
		
		.hour-label {
			position: absolute;
			left: 20px;
			top: -0.5lh;
			color: $border-color-darken;
		}
		
		.tick {
			$tick-height: 2px;
			transform: translateY($tick-height * -0.5);
			background-color: $border-color;
			width: 5px;
			height: $tick-height;
			
			margin-bottom: calc(var(--timeline-step-height) / 10 - $tick-height);
			
			&--hour {
				width: 12px;
				background-color: $border-color-darken;
			}
			
			&--large {
				width: 8px;
			}
		}
	}
}